@font-face {
  font-family: "Faune";
  src:
    local("Faune"),
    url("./Faune-TextRegular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Faune";
  src:
    local("Faune"),
    url("./Faune-TextBold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Faune Display";
  src:
    local("Faune Display"),
    url("./Faune-DisplayBlack.otf") format("opentype");
  font-weight: bold;
}

body {
  background-color: ghostwhite;
  color: #1e1e2f;
  margin: 0;
  padding: 0;
  margin-bottom: 1.33rem;
  font: 1.125rem "Faune", sans-serif;

  --pad: 1rem;
  --bdw: 0.125rem;
  --shr: .25rem;
  --shy: 0.125rem;
  --shc: rgba(30, 30, 47, 0.1);

  --msg-sender-author-justify: left;
  --msg-sender-msg-justify: right;
  --msg-receiver-author-justify: right;
  --msg-receiver-msg-justify: left;

  --msg-sender-flex-direction: row-reverse;
  --msg-receiver-flex-direction: row;

  --big: 1;
  --small: 0;
}

@media (max-width:640px) {
  body { 
    --msg-sender-author-justify: right;
    --msg-receiver-author-justify: left;
    --msg-sender-flex-direction: column;
    --msg-receiver-flex-direction: column;
    --big: 0;
    --small: 1;
  }
}

@media (min-width:641px) {  
  body { --pad: calc(100% / 4); }
}

@media (min-width:961px) { 
  body { --pad: calc(100% / 4); }
}

@media (min-width:1281px) { 
  body { --pad: calc(100% / 2.8); }
}

lnk {
  transition: 0.125s ease-in-out;
  color: blue;
}

lnk:hover {
  text-decoration: underline;
  cursor: pointer;
}

spacer {
  margin-top: 1rem;
}

rc {
  display: flex;
  flex-direction: var(--msg-receiver-flex-direction);
  margin-left: calc(var(--pad) - 12rem * var(--big));
  margin-right: var(--pad);
  gap: 0;
  margin-bottom: 1rem;
}

ra {
  display: block;
  text-align: var(--msg-receiver-author-justify);
  font: 1.5rem "Faune", sans-serif;
  color: #7e747c;
  flex-shrink: 0;
  align-content: end;
  padding-right: calc(1rem * var(--big));
  padding-bottom: calc(1rem * var(--big) + .5rem * var(--small));
  width: calc(11rem * var(--big));
}

nrm {
  display: block;
  text-align: var(--msg-receiver-msg-justify);
  font: 1.125rem "Faune", sans-serif;
  color: #1e1e2f;
  padding: 1rem;
  background-color: #e0f2fe;
  border-radius: calc(0.5rem * var(--small) + 2rem * var(--big)) 2rem 2rem calc(0.5rem * var(--big) + 2rem * var(--small));
  border: .25rem solid #ceeafe;
  box-shadow: 0 var(--shy) var(--shr) var(--shc);
}

mrm {
  display: block;
  text-align: var(--msg-receiver-msg-justify);
  font: 1.125rem "Faune", sans-serif;
  color: #1e1e2f;
  padding: 1rem;
  background-color: #fae8ff;
  border-radius: calc(0.5rem * var(--small) + 2rem * var(--big)) 2rem 2rem calc(0.5rem * var(--big) + 2rem * var(--small));
  border: .25rem solid #f5d3ff;
  box-shadow: 0 var(--shy) var(--shr) var(--shc);
}

sc {
  display: flex;
  flex-direction: var(--msg-sender-flex-direction);
  margin-right: calc(var(--pad) - 12rem * var(--big));
  margin-left: var(--pad);
  gap: 0;
  margin-bottom: 1rem;
}

sa {
  display: block;
  text-align: var(--msg-sender-author-justify);
  font: 1.5rem "Faune", sans-serif;
  color: #7e747c;
  flex-shrink: 0;
  align-content: end;
  align-self: end;
  padding-left: calc(1rem * var(--big));
  padding-bottom: calc(1rem * var(--big) + .5rem * var(--small));
  width: calc(11rem);
}

nsm {
  display: block;
  text-align: var(--msg-sender-msg-justify);
  font: 1.125rem "Faune", sans-serif;
  color: #1e1e2f;
  padding: 1rem;
  background-color: #e0f2fe;
  border-radius: 2rem calc(0.5rem * var(--small) + 2rem * var(--big)) calc(0.5rem * var(--big) + 2rem * var(--small)) 2rem;
  border: .25rem solid #ceeafe;
  box-shadow: 0 var(--shy) var(--shr) var(--shc);
}

msm {
  display: block;
  text-align: var(--msg-sender-msg-justify);
  font: 1.125rem "Faune", sans-serif;
  color: #1e1e2f;
  padding: 1rem;
  background-color: #fae8ff;
  border-radius: 2rem calc(0.5rem * var(--small) + 2rem * var(--big)) calc(0.5rem * var(--big) + 2rem * var(--small)) 2rem;
  border: .25rem solid #f5d3ff;
  box-shadow: 0 var(--shy) var(--shr) var(--shc);
}

h1 {
  font: 3.5rem "Faune Display", sans-serif;
  line-height: 1.33;
  font-weight: bold;
  margin-left: var(--pad);
  margin-right: var(--pad);
  margin-bottom: calc(1.33rem / 2);
  margin-top: calc(1.33rem);
}

h2 {
  font: 1.125rem "Faune", sans-serif;
  color: #7e747c;
  margin-left: var(--pad);
  margin-right: var(--pad);
  font-weight: normal;
}

h3 {
  font: 1.5rem "Faune", sans-serif;
  color: #7e747c;
  margin-left: var(--pad);
  margin-right: var(--pad);
  font-weight: normal;
}
